*{
   margin: 0;
   padding: 0;
   font-family: Century Gothic;
}
ul{
   float:right;
   list-style-type: none;
   margin-top:35px;
   
}
ul li{
     display: inline-block;
}
ul li a{
  text-decoration:none;
  border: 2px solid white;
  margin: 75px;
  padding: 5px 15px;
  font-weight:500;
  font-size:25px;
}
ul li a:hover{
   background-color: #fff;
   color: #000;
}
.title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.title h1{
   color: #000;
   font-size:80px;
}   
  